@media only screen and (min-width: 638px) {
  .gallery-container {
    margin-top: 14rem;
  }
}

@media only screen and (min-width: 800px) {
  .logo img {
    padding-left: 80px;
  }
  .active {
    background: var(--secondary-background);
    color: var(--secondary-color);
    padding: 4px 13px;
  }

  li a:hover {
    background: var(--secondary-background);
    color: var(--secondary-color);
    padding: 4px 13px;
  }

  nav {
    display: flex;
    position: static;
    justify-content: center;
  }
  nav li {
    display: inline-block;
    position: relative;
  }

  li a {
    color: var(--primary-color);
    background: var(--secondary-color);
    margin: 5px 10px;
    border-radius: 50px;
    padding: 4px 13px;
  }

  header label {
    display: none;
  }

  .search-point {
    left: 0rem;
    position: relative;
  }
  .fa-search {
    top: 38px;
    z-index: 100;
  }
  #search {
    height: 35px;
    position: relative;
    top: 26px;
  }
  .welcome-page01 {
    margin-top: 70px;
  }

  .footer--wrapper1 {
    display: block;
  }
  .footer--wrapper2 {
    margin-left: 20%;
  }
  .sosial-icons {
    display: flex;
    justify-content: start;
  }

  .footer-under-text {
    text-align: left;
  }

  .name {
    display: inline-block;
  }
  #fname,
  #lname {
    width: 275px;
  }

  #email,
  #subject,
  textarea {
    width: 563px;
  }

  .gallery-container {
    width: 550px;
  }
}

@media only screen and (min-width: 1000px) {
  .blog-post-specific {
    width: 1000px;
  }

  .search-point {
    left: 2rem;
    position: relative;
  }

  .gallery-container {
    width: 850px;
  }
}

@media only screen and (min-width: 1200px) {
  .gallery-container {
    width: 1150px;
  }
}
