.specific-container {
  margin-top: 100px;
}
.specific-post {
  display: flex;
  flex-wrap: wrap;
  margin: 25px auto;
  justify-content: center;
  width: 300px;
}

.specific-image {
  width: 300px;
  height: 300px;
}

h1,
h3 {
  text-align: center;
  color: var(--primary-color);
}

/* .featuredmedia-specific-text{
  position: relative;
  top: 7px;
}

h4{
  background: var(--primary-background);
  position: relative;
  bottom: 86px;
  padding: 4px;
  width: 210px;
  text-align: center;
  margin-left: 40px;
  opacity: 0.8;
  color: var(--secondary-color);
  font-weight: bold;
} */

footer {
  margin-top: 15.8rem;
}
